#header_nav {
    display: flex;
    flex-direction: row;
}

.navClose {
    background-image: var(--bg-gradient-primary);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    overflow: hidden;
    transition: all 500ms;
    width: 60px;
}

.navOpen {
    background-image: var(--bg-gradient-primary);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    overflow: hidden;
    transition: all 500ms;
    width: 350px;
}

.header{
    align-items: center;
    background-color:var(--card-bg);
    display: flex;
    height: 60px;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

.title_name {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.name {
    color: var(--color-label-secondary);
    font-size: 15px;
    margin-left: 5px;
    transition: all 300ms;
    white-space: nowrap;
}

.name_close {
    color: transparent;
    font-size: 15px;
    margin-left: 5px;
    transition: all 300ms;
    white-space: nowrap;
}

.hr_header {
    width: 80%;
}

.icon {
    color: var(--color-label-secondary);
    font-size: 30px;
    margin: 0px 0px 0px 10px;
}



.titleHeader {
    color: var(--color-label-secondary);
    font-size: 25px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.handle_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 50px;
    margin-left: 10px;
    width: 50px;
}

.div_portfolio {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
    width: 100%;
}

.header_body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu_icon_close {
    color: var(--color-primary);
    font-size: 25px;
    transform: rotate(540deg);
    transition: all 500ms;
}

.menu_icon_open {
    color: var(--color-primary);
    font-size: 25px;
    transition: all 500ms;
}



.img_my_photo {
    width: 35px;
    height: 35px;
    margin: 10px 12px 0px 12px;
    border-radius: 100%;
}

