
.card_body {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
}

.header_cardBody {
    display: flex;
    flex-direction: row;
}

.header_cardBody_icon {
    color: var(--color-primary);
}


