
.card_body_projects {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
}

.table_projects {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tr_project {
    border-bottom: 1px solid var(--color-border-table);
}

.name_link {
    color: var(--color-label);
    text-decoration: none;
}

.name_link:hover {
    color: var(--color-hover-label);
    
}

.repository_icon {
    color: var(--color-icon-download);
}

.repository_icon:hover {
    color: var(--color-hover-label);
}