
.card_body_projects {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
}

.table_projects {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tr_project {
    border-bottom: 1px solid rgba(177, 177, 177, 0.596);
}

.name_link {
    color: #000000;
    text-decoration: none;
}

.name_link:hover {
    color: rgb(189, 15, 15);
    
}

.repository_icon {
    color: rgb(68, 68, 68);
}

.repository_icon:hover {
    color: rgb(236, 11, 11);
}