.card_fondo_home {
    background-color: rgb(243, 243, 243);
    background-image:url('../../assets/imgFondo.png');
    background-position: center center;
    background-size: cover;
    max-width: 100%;
}

.card_body_home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}







