.card_iten_nav {
    margin-left: 20px;
    margin-right: 20px;
    width: 28%;
    height: 28%;
    background-color: rgba(204, 204, 204, 0.219);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    text-decoration: none;
    transition: all 500ms;
}

.card_iten_nav:hover {
    background-color: rgba(168, 168, 168, 0.171);
    backdrop-filter: blur(15px);
}
.card_iten_nav:hover > .card_icon_nav > div > .icon_homeScreen {
    transform: rotate(360deg);
}

.card_iten_nav:hover > .card_title_nav > h2 {
    font-size: 25px;
}

.card_icon_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    top: -50px;
    border-radius: 100%;
    border: 1px solid rgba(163, 163, 163, 0.253);

}

.icon_homeScreen {
    color: #1c407b;
    font-size: 50px;
    align-self: center;
    transition: all 500ms;
}

.card_title_nav {
    position: relative;
    bottom: 30px;
    color: white;
    text-align: center;
}

.card_title_nav > h2 {
    font-size: 20px;
    transition: all 500ms;
}