

.card {
    background-color: var(--card-bg);
    border-radius: 5px;
    height: calc(100vh - 80px);
    margin: 10px;
    overflow: auto;
}

.link_linkedin {
    font-size: 30px;
    color: #0a66c2;
    margin-right: var(--color-link-link_linkedin);
}

.link_github {
    font-size: 30px;
    color: var(--color-link-github);
    margin-right: 15px;
}

.link_twiter {
    font-size: 30px;
    color: var(--color-link-twiter);
    margin-right: 15px;
}

.link_mail {
    font-size: 30px;
    color: var(--color-link-mail);
    margin-right: 15px;
}

.link_instagram {
    font-size: 30px;
    color: var(--color-link-instagram);
    margin-right: 15px;
}