

.card {
    background-color: var(--card-bg);
    border-radius: var(--boder-radius);
    height: calc(100vh - 80px);
    margin: 10px;
    overflow: auto;
}

.card_dark_mode {
    background-color: var(--card-bg-dark-mode);
    border-radius: var(--boder-radius);
    height: calc(100vh - 80px);
    margin: 10px;
    overflow: auto;
    color: var(--color-primary-dark-mode);
}

.link_linkedin {
    
    font-size: var(--size-icon-contact);
    color: var(--color-link-linkedin);
    margin-right: 5px;
    margin-left: 5px;
}

.link_github {
    font-size: var(--size-icon-contact);
    color: var(--color-link-github);
    margin-right: 5px;
    margin-left: 5px;
}

.link_twiter {
    font-size: var(--size-icon-contact);
    color: var(--color-link-twiter);
    margin-right: 5px;
    margin-left: 5px;
}

.link_mail {
    font-size: var(--size-icon-contact);
    color: var(--color-link-mail);
    margin-right: 5px;
    margin-left: 5px;
}

.link_instagram {
    font-size: var(--size-icon-contact);
    color: var(--color-link-instagram);
    margin-right: 5px;
    margin-left: 5px;
}