

.card {
    background-color: white;
    border-radius: 5px;
    height: 87vh;
    margin: 10px;
    overflow: auto;
}

.link_linkedin {
    font-size: 30px;
    color: #0a66c2;
    margin-right: 15px;
}

.link_github {
    font-size: 30px;
    color: #1b1e23;
    margin-right: 15px;
}

.link_twiter {
    font-size: 30px;
    color: #1d9bf0;
    margin-right: 15px;
}

.link_mail {
    font-size: 30px;
    color: #e34133;
    margin-right: 15px;
}

.link_instagram {
    font-size: 30px;
    color: #c734a0;
    margin-right: 15px;

}